<!DOCTYPE html>
<html>	
<head>
	<title>登录</title>
	<meta charset="utf-8">
	<link href="/assets/css/login.css" rel='stylesheet' type='text/css'/>
	<!-- 引入样式 -->
	<link rel="stylesheet" href="/assets/element/index.css">
</head>
<body>
	<div class="title">
		<!--<h1>个人知识库系统</h1>-->
	</div>
	<div class="login-form"  id="app">
		<div class="close"></div>
		<div class="head-info">
			<span class="system-name">辉哥云后台管理系统</span>
			<!--<label class="lbl-1"> </label>
			<label class="lbl-2"> </label>
			<label class="lbl-3"> </label>-->
		</div>
		<div class="clear"> </div>
		<div class="avtar">
			<img src="/assets/images/avtar.png"/>
		</div>
		<div class="login-container">
			<form>
				<input type="text" class="text" v-model="user.username" placeholder="请输入用户名" @keyup.enter="login">
				<div class="key">
					<input type="password" v-model="user.password" placeholder="请输入密码" @keyup.enter="login">
				</div>
			</form>
			<div class="register-btn">
				没有账号？
				<el-button type="text" @click="registerDialog = true">注册</el-button>
			</div>
			<div class="signin">
				<input type="submit" value="登录" @click="login" @keyup.enter="login">
			</div>
		</div>


		<el-dialog title="欢迎注册" :visible.sync="registerDialog" width="30%"  :modal-append-to-body="false">
			<el-form label-position="right"   label-width="80px" >
				<el-form-item label="用户名">
					<el-input placeholder="请输入用户名" v-model="registerUser.username"></el-input>
				</el-form-item>
				<el-form-item label="密码">
					<el-input type="password" placeholder="请输入密码" v-model="registerUser.password"></el-input>
				</el-form-item>
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button @click="registerDialog = false">取 消</el-button>
				<el-button type="primary" @click="register">确 定</el-button>
			</div>
		</el-dialog>
	</div>

</body>
<!-- import Vue before Element -->
<script src="/assets/vue/vue.min.js"></script>
<!-- 引入组件库 -->
<script src="/assets/element/index.js"></script>
<script src="/assets/axios/axios.min.js"></script>
<script src="/assets/js/api.js"></script>

<script>

    new Vue({
        el: '#app',
        data() {
            return {
                user: {
                    username: 'xiezh',
                    password: '123'
                },
				registerUser: {
                    username: '',
                    password: ''
				},
                registerDialog: false,
            }
        },
        methods: {
            login() {
                var self = this;
                Api.post(Api.loginUrl, this.user, function (result) {
                    if(result.data.success){
                        self.$message(result.data.info);
                        window.location.href = Api.loginSuccessPageUrl;
                    } else {
                        self.$message.error(result.data.info);
                    }
                }, function (error) {
                    self.$message.error(error);
                })
            },
			register() {
                var self = this;
                if(!self.registerUser.username) {
                    self.$message.error('请输入用户名！');
				} else if(!self.registerUser.password) {
                    self.$message.error('请输入密码');
				} else {
					Api.post(Api.registerUrl, self.registerUser, function (result) {
                        if(result.data.success) {
                            self.$message({
                                message: '注册成功，请登录！',
                                type: 'success',
                            });
                            self.registerDialog = false;
						} else {
                            self.$message.error(result.data.info);
						}
                    }, function (error) {
                        self.$message.error(error);
                    })
				}
			}
        }
    })
</script>
</html>